{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"components": "./src/components",
					"pages": "./src/pages",
					"lib": "./src/lib",
					"constants": "./src/constants"
				}
			}
		]
	]
}
